@use '@styles/breakpoints';
@use '@styles/buttons';
@use '@styles/text-styles';

.news {
  padding: 0 var(--spacing-16) var(--spacing-24);

  @include breakpoints.medium-screen {
    padding: 0 var(--spacing-12) var(--spacing-12);
  }

  @include breakpoints.small-screen {
    padding: 0 var(--spacing-6) var(--spacing-8);
  }

  h2 {
    @include text-styles.header-1;

    margin: 0;
    margin-block-end: var(--spacing-12);
    text-align: center;

    @include breakpoints.medium-screen {
      @include text-styles.header-1--mobile;
    }
    @include breakpoints.small-screen {
      @include text-styles.header-1--mobile;
    }
  }

  &__articles {
    align-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-6);
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block-end: var(--spacing-12);
    @include breakpoints.small-screen {
      flex-wrap: unset;
      align-items: center;
      flex-direction: column;
    }

    /* Last two */
    & li:nth-last-of-type(-n + 2) {
      @include breakpoints.medium-screen {
        display: none;
      }
    }
    /* Last three */
    & li:nth-last-of-type(-n + 3) {
      @include breakpoints.small-screen {
        display: none;
      }
    }
  }

  &__more {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}
