@use '@styles/text-styles';
@use '@styles/layout';
@use '@styles/buttons';
@use '@styles/breakpoints';

$cube_icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='32' fill='none'%3E%3Cpath fill='%2300ABCF' d='M17.004 2.136a1 1 0 0 0-1.008 0L4.5 8.842l12 7 12-7-11.496-6.706ZM29.5 10.574l-12 7v12l11.504-6.71A1 1 0 0 0 29.5 22V10.574ZM15.5 29.574v-12l-12-7V22a1 1 0 0 0 .496.864l11.504 6.71Z'/%3E%3C/svg%3E";
$academic-cap: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%2300ABCF' d='M15.6 3.74a1 1 0 0 1 .8 0 80.87 80.87 0 0 1 14.04 7.886 1 1 0 0 1-.309 1.783 66.583 66.583 0 0 0-13.202 5.216l-.004.002-.453.24a1 1 0 0 1-.943 0A66.338 66.338 0 0 0 10 16.231v-.298c0-.175.09-.33.229-.415a72.837 72.837 0 0 1 6.204-3.359 1 1 0 1 0-.866-1.803 74.864 74.864 0 0 0-6.374 3.452 2.477 2.477 0 0 0-1.145 1.637 66.495 66.495 0 0 0-6.18-2.036 1 1 0 0 1-.307-1.783A80.87 80.87 0 0 1 15.6 3.74Z'/%3E%3Cpath fill='%2300ABCF' d='M17.415 20.631a64.601 64.601 0 0 1 10.22-4.377c.178 1.886.293 3.792.34 5.713a1 1 0 0 1-.614.948 63.843 63.843 0 0 0-10.806 5.789 1 1 0 0 1-1.11 0 63.843 63.843 0 0 0-10.806-5.79 1 1 0 0 1-.614-.947 81.8 81.8 0 0 1 .34-5.713A64.53 64.53 0 0 1 8 17.574v1.694a2 2 0 0 0-.186 3.342 6.964 6.964 0 0 1-.53 1.48c.603.285 1.202.579 1.795.882a8.97 8.97 0 0 0 .735-2.144 2 2 0 0 0 .186-3.56v-.86a64.716 64.716 0 0 1 4.587 2.223 3 3 0 0 0 2.828 0Z'/%3E%3Cpath fill='%2300ABCF' d='M5.95 25.95a6.994 6.994 0 0 0 1.334-1.86c.603.285 1.202.579 1.795.882a8.988 8.988 0 0 1-1.715 2.392A1 1 0 1 1 5.95 25.95Z'/%3E%3C/svg%3E%0A";

$user-group: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%2300ABCF' fill-rule='evenodd' d='M11 9a5 5 0 1 1 10 0 5 5 0 0 1-10 0Zm10 4a4 4 0 1 1 8 0 4 4 0 0 1-8 0ZM3 13a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm5.413 7.157A8.994 8.994 0 0 1 16 16c3.19 0 5.99 1.66 7.587 4.158a9.05 9.05 0 0 1 1.358 5.84 1 1 0 0 1-.496.757A16.927 16.927 0 0 1 16 29c-3.073 0-5.96-.817-8.449-2.245a1 1 0 0 1-.496-.758 9.05 9.05 0 0 1 1.358-5.84Z' clip-rule='evenodd'/%3E%3Cpath fill='%2300ABCF' d='m6.776 19.005-.047.074a11.05 11.05 0 0 0-1.696 6.773 12.916 12.916 0 0 1-2.352-.587l-.154-.054a.75.75 0 0 1-.498-.648l-.013-.162a5 5 0 0 1 4.76-5.396Zm20.192 6.847a11.05 11.05 0 0 0-1.744-6.847 5 5 0 0 1 4.76 5.396l-.013.162a.75.75 0 0 1-.498.648l-.154.054c-.755.266-1.54.464-2.351.587Z'/%3E%3C/svg%3E%0A";

$beaker: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%2300ABCF' fill-rule='evenodd' d='M14 5.063v6.694a4 4 0 0 1-1.172 2.829l-3.17 3.17c2.33-.167 4.685.298 6.789 1.35a11.087 11.087 0 0 0 7.617.847l.38-.095-5.273-5.272A4 4 0 0 1 18 11.757V5.063a31.49 31.49 0 0 0-4 0Zm6 .185a1 1 0 0 0 .123-1.993A33.069 33.069 0 0 0 16 3a33.399 33.399 0 0 0-4.124.255A1 1 0 0 0 12 5.248v6.51a2 2 0 0 1-.586 1.414l-8.391 8.39C.861 23.724 1.819 27.53 4.984 28.07A65.36 65.36 0 0 0 16 29c3.754 0 7.434-.318 11.015-.93 3.165-.54 4.123-4.346 1.961-6.508l-8.39-8.39A2 2 0 0 1 20 11.757v-6.51Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A";

.support_us_cards {
  padding: var(--spacing-20) var(--spacing-16) var(--spacing-24);

  @include breakpoints.medium-screen {
    padding: var(--spacing-10) var(--spacing-12) var(--spacing-12);
  }

  @include breakpoints.small-screen {
    padding: var(--spacing-6) var(--spacing-6);
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  p {
    @include text-styles.text-base;
    @include layout.content-max-width-2xl;
    margin-block-end: var(--spacing-8);
    text-align: center;

    @include breakpoints.small-screen {
      text-align: start;
      margin-block-end: var(--spacing-6);
    }
  }

  &__row {
    display: flex;
    column-gap: var(--spacing-12);
    align-items: flex-start;

    @include breakpoints.medium-screen {
      flex-direction: column;
      row-gap: var(--spacing-8);
      align-items: center;
    }

    @include breakpoints.small-screen {
      flex-direction: column;
      row-gap: var(--spacing-8);
      align-items: center;
    }
  }
}

.card {
  display: flex;
  max-width: var(--max-width-2xl);
  padding: var(--spacing-6);
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;

  border-radius: var(--border-radius-xl);
  background: var(--background-accent-navy);

  &:first-of-type > div {
    background-image: url($academic-cap);
  }

  &:nth-of-type(2) > div {
    background-image: url($user-group);
  }

  &:last-of-type > div {
    background-image: url($beaker);
  }

  & > div {
    background-image: url($cube_icon);
    width: var(--spacing-8);
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    margin-block-end: var(--spacing-4);
  }

  & h3 {
    @include text-styles.header-3;
    margin-block-end: var(--spacing-3);
  }

  & p {
    margin-block-end: var(--spacing-4);
    @include breakpoints.small-screen {
      text-align: center;
    }
  }

  & a {
    @include breakpoints.small-screen {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
