@use '@styles/text-styles';
@use '@styles/layout';
@use '@styles/buttons';
@use '@styles/breakpoints';

$heart: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%2300ABCF' d='m15.527 27.88-.01-.004-.03-.016a20.036 20.036 0 0 1-.51-.29 33.561 33.561 0 0 1-5.66-4.227C6.25 20.483 3 16.233 3 11c0-3.904 3.285-7 7.25-7 2.332 0 4.42 1.065 5.75 2.735C17.33 5.065 19.418 4 21.75 4 25.715 4 29 7.096 29 11c0 5.233-3.25 9.482-6.318 12.342a33.563 33.563 0 0 1-5.66 4.227 20.036 20.036 0 0 1-.51.29l-.03.017-.009.005-.003.002a1.002 1.002 0 0 1-.94 0l-.003-.002Z'/%3E%3C/svg%3E%0A";

$gift: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%2300ABCF' d='M12.5 4a2.5 2.5 0 0 0 0 5H15v6H4.5A2.5 2.5 0 0 1 2 12.5v-1A2.5 2.5 0 0 1 4.5 9h4.258A4.5 4.5 0 0 1 16 3.671 4.5 4.5 0 0 1 23.242 9H28.5a2.5 2.5 0 0 1 2.5 2.5v1a2.5 2.5 0 0 1-2.5 2.5H17V9h2.5A2.5 2.5 0 1 0 17 6.5V9h-2V6.5A2.5 2.5 0 0 0 12.5 4ZM15 17H4v9a3 3 0 0 0 3 3h8V17Zm2 0v12h9a3 3 0 0 0 3-3v-9H17Z'/%3E%3C/svg%3E%0A";

$group: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%2300ABCF' fill-rule='evenodd' d='M11 9a5 5 0 1 1 10 0 5 5 0 0 1-10 0Zm10 4a4 4 0 1 1 8 0 4 4 0 0 1-8 0ZM3 13a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm5.413 7.157A8.994 8.994 0 0 1 16 16c3.19 0 5.99 1.66 7.587 4.158a9.05 9.05 0 0 1 1.358 5.84 1 1 0 0 1-.496.757A16.927 16.927 0 0 1 16 29c-3.073 0-5.96-.817-8.449-2.245a1 1 0 0 1-.496-.758 9.05 9.05 0 0 1 1.358-5.84Z' clip-rule='evenodd'/%3E%3Cpath fill='%2300ABCF' d='m6.776 19.005-.047.074a11.05 11.05 0 0 0-1.696 6.773 12.916 12.916 0 0 1-2.352-.587l-.154-.054a.75.75 0 0 1-.498-.648l-.013-.162a5 5 0 0 1 4.76-5.396Zm20.192 6.847a11.05 11.05 0 0 0-1.744-6.847 5 5 0 0 1 4.76 5.396l-.013.162a.75.75 0 0 1-.498.648l-.154.054c-.755.266-1.54.464-2.351.587Z'/%3E%3C/svg%3E%0A";

$cube_icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='32' fill='none'%3E%3Cpath fill='%2300ABCF' d='M17.004 2.136a1 1 0 0 0-1.008 0L4.5 8.842l12 7 12-7-11.496-6.706ZM29.5 10.574l-12 7v12l11.504-6.71A1 1 0 0 0 29.5 22V10.574ZM15.5 29.574v-12l-12-7V22a1 1 0 0 0 .496.864l11.504 6.71Z'/%3E%3C/svg%3E";

.support_us_cards {
  padding: 0 var(--spacing-16) var(--spacing-24);

  @include breakpoints.medium-screen {
    padding: var(--spacing-10) var(--spacing-12) var(--spacing-12);
  }

  @include breakpoints.small-screen {
    padding: var(--spacing-6) var(--spacing-6);
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  p {
    @include text-styles.text-base;
    @include layout.content-max-width-2xl;
    margin-block-end: var(--spacing-8);
    text-align: center;

    @include breakpoints.small-screen {
      text-align: start;
      margin-block-end: var(--spacing-6);
    }
  }

  &__row {
    display: flex;
    column-gap: var(--spacing-12);
    align-items: flex-start;

    @include breakpoints.medium-screen {
      flex-direction: column;
      row-gap: var(--spacing-8);
      align-items: center;
    }

    @include breakpoints.small-screen {
      flex-direction: column;
      row-gap: var(--spacing-8);
      align-items: center;
    }
  }
}

.card {
  display: flex;
  max-width: var(--max-width-2xl);
  padding: var(--spacing-6);
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;

  border-radius: var(--border-radius-xl);
  background: var(--background-accent-navy);

  &:first-of-type > div {
    background-image: url($heart);
  }

  &:nth-of-type(2) > div {
    background-image: url($gift);
  }

  &:last-of-type > div {
    background-image: url($group);
  }

  & > div {
    background-image: url($cube_icon);
    width: var(--spacing-8);
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    margin-block-end: var(--spacing-4);
  }

  & h2 {
    @include text-styles.header-3;
    margin-block-end: var(--spacing-3);
  }

  & p {
    margin-block-end: var(--spacing-4);
    @include breakpoints.small-screen {
      text-align: center;
    }
  }

  & a {
    @include breakpoints.small-screen {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
