@use '@styles/text-styles';
@use '@styles/breakpoints';

@layer override {
  .register {
    padding: var(--spacing-6);
    background-color: var(--background-accent-navy);
    border-radius: var(--border-radius-xl);

    & a {
      text-decoration: none;
      color: var(--foreground-inverse-primary);
    }
  }
}
