@use '@styles/layout';
@use '@styles/breakpoints';
@use '@styles/text-styles';

.page-layout {
  padding: var(--spacing-6) var(--spacing-16) var(--spacing-24);

  @include breakpoints.medium-screen {
    padding: var(--spacing-6) var(--spacing-12) var(--spacing-12);
  }

  @include breakpoints.small-screen {
    padding: var(--spacing-6) var(--spacing-6) var(--spacing-8) var(--spacing-6);
  }

  &__row {
    @include layout.content-max-width;
  }
}

.page-body {
  max-width: var(--max-width-2xl, 672px);
  & {
    @include text-styles.text-base;
  }
  p:not(form p) {
    margin: 0;
    margin-block-end: var(--spacing-4);
  }

  a:not([target='_blank']) {
    @include text-styles.text-link;
  }

  li:not(:last-of-type) {
    & p {
      margin: 0;
    }
    margin-block-end: var(--spacing-2);
  }

  h2 {
    @include text-styles.header-2;
    margin: 0;
    margin-block-end: var(--spacing-4);

    @include breakpoints.small-screen {
      @include text-styles.header-2__mobile;
    }

    @include breakpoints.medium-screen {
      @include text-styles.header-2__mobile;
    }
  }

  ol,
  ul {
    padding-inline-start: var(--spacing-6);
  }

  h3 {
    @include text-styles.header-3;
    margin: 0;
    margin-block-end: var(--spacing-3);
  }

  section:not(:first-of-type) {
    margin-block-start: var(--spacing-12);
  }
}

.partners-list {
  padding: 0;
  margin: 0;
  margin-block-start: var(--spacing-6);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--spacing-6);
  row-gap: var(--spacing-12);
  width: 100%;

  li {
    flex-basis: calc(50% - var(--spacing-6));
    @include breakpoints.small-screen {
      flex-basis: 100%;
    }
  }

  picture {
    padding-inline: var(--spacing-8);
    margin-block-end: var(--spacing-4);
  }

  img {
    @include breakpoints.small-screen {
      margin: 0 auto;
    }
  }

  a {
    display: block;
    text-align: center;
  }
}
