@use '@styles/breakpoints';
@use '@styles/buttons';
@use '@styles/text-styles';
@use '@styles/icons';

.article {
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--grey-300);
  flex: 1 0 18.75rem;
  overflow: hidden;

  @include breakpoints.small-screen {
    min-width: 100%;
  }

  @include breakpoints.large-screen {
    max-width: calc(33% - calc(var(--spacing-6) * 2));
  }

  @include breakpoints.extra-large-screen {
    max-width: calc(33% - calc(var(--spacing-6) * 2));
  }

  &:hover,
  &:focus {
    background-color: var(--background-interactive-hover);
  }

  &:active {
    background-color: var(--background-interactive-press_active);
  }

  & a {
    text-decoration: none;
  }

  &__img {
    height: var(--spacing-56);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoints.small-screen {
      height: var(--spacing-40);
    }
  }

  &__newsletter_img {
    height: var(--spacing-56);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(icons.$newsletter);

    @include breakpoints.small-screen {
      height: var(--spacing-40);
    }
  }

  &__podcast_img {
    height: var(--spacing-56);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(icons.$podcast);

    @include breakpoints.small-screen {
      height: var(--spacing-40);
    }
  }

  & div {
    padding: var(--spacing-4);
  }

  &__label:is(a) {
    @include text-styles.text-link-small;
    text-decoration: underline;
  }
  &__separator {
    margin: 0 var(--spacing-2);
  }

  &__date {
    margin: 0;
    @include text-styles.text-small;
    color: var(--foreground-secondary);
  }

  & h2 {
    margin: 0;
    @include text-styles.header-3;
    margin-block-end: var(--spacing-4);
    text-align: start;
  }
}
