@use '@styles/text-styles';
@use '@styles/layout';
@use '@styles/buttons';
@use '@styles/breakpoints';

.hero {
  background-image: linear-gradient(75deg, #fff0f2, #f3f7fc);
  h2 {
    @include text-styles.header-1;
    margin: 0;
    margin-block-end: var(--spacing-6);
  }
  h3 {
    @include text-styles.header-2;
    margin: 0;
    margin-block-end: var(--spacing-4);
  }

  p {
    @include text-styles.text-base;
    margin: 0;
    margin-block-end: var(--spacing-4);
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-4);

    li {
      a {
        display: inline-block;
      }
    }
  }

  &__content_wrapper {
    @include layout.content-max-width-7x1;
  }

  &__row {
    display: flex;
    align-items: stretch;
    column-gap: var(--spacing-16);
    @include breakpoints.from-small-to-medium-screen {
      border-block-end: 1px solid var(--grey-300);
      column-gap: var(--spacing-12);
    }
  }

  &__col {
    flex-basis: 100%;
    flex-grow: 1;

    &:first-of-type {
      padding: var(--spacing-16) 0 var(--spacing-20) var(--spacing-16);
      @include breakpoints.from-small-to-medium-screen {
        padding: var(--spacing-12) 0 var(--spacing-12) var(--spacing-12);
      }
      @include breakpoints.small-screen {
        padding: var(--spacing-6);
      }
    }

    &:last-of-type {
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: cover;
      @include breakpoints.small-screen {
        display: none;
      }
    }
  }

  &__what_are_we {
    margin-block-end: var(--spacing-14);
    @include breakpoints.small-screen {
      margin-block-end: 0;
    }
  }

  &__row &__how_can_we_help {
    @include breakpoints.from-small-to-medium-screen {
      display: none;
    }
  }

  &__how_can_we_help_tablet {
    display: none;
    @include breakpoints.from-small-to-medium-screen {
      display: block;
      padding: var(--spacing-10) var(--spacing-12);
    }

    @include breakpoints.small-screen {
      padding: var(--spacing-4) var(--spacing-6) var(--spacing-6);
    }
  }
}
