@use '@styles/text-styles' as *;
@use '@styles/breakpoints' as *;


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & main {
    flex: 1 auto;
  }

  & h1 {
    @include header-1;
  }

  @include small-screen {
    background-color: lightblue;
  }

  @include medium-screen {
    background-color: lightgreen;
  }

  @include large-screen {
    background-color: lightcoral
  }

  @include extra-large-screen {
    background-color: lightgoldenrodyellow;
  }
}
