@use '@styles/text-styles';
@use '@styles/layout';
@use '@styles/breakpoints';

.memberships-partners {
  padding: 0 var(--spacing-16) var(--spacing-24);

  h2 {
    margin: 0;
    @include text-styles.header-1;
    margin-block-end: var(--spacing-12);
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--spacing-12);
    align-self: stretch;
    flex-wrap: wrap;
  }

  picture,
  img {
    height: 100%;
    max-height: var(--spacing-24);
  }
}
