@use '@styles/text-styles';
@use '@styles/breakpoints';

$desktop-curve: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 51 248'%3E%3Cpath fill='%23F3F7FC' fill-rule='evenodd' d='M.196 0a803.785 803.785 0 0 1 14.431 28.791c17.093 35.927 30.877 72.918 34.976 112.96 3.884 37.98-3.349 73.264-20.217 106.249H0V0h.196Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A";
$mobile-curve: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='27' viewBox='0 0 320 27' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 26.9997C40.8375 15.8931 82.5909 7.6807 125.549 3.28803C193.213 -3.62382 257.942 1.55581 320 17.8425L320 27L0 27L0 26.9997Z' fill='%23F3F7FC'/%3E%3C/svg%3E";

.page-header {
  h1,
  p {
    margin: 0;
  }

  &__background {
    background-color: var(--background-accent-navy);
    display: flex;

    @include breakpoints.small-screen {
      flex-direction: column;
    }

    & > * {
      flex: 100% 0 0;
    }

    & > section {
      padding: var(--spacing-16) 0 var(--spacing-16) var(--spacing-16);
      display: flex;
      flex-direction: column;
      align-content: flex-end;

      @include breakpoints.medium-screen {
        padding: var(--spacing-12) 0 var(--spacing-12) var(--spacing-12);
      }

      @include breakpoints.small-screen {
        order: 1;
        padding: var(--spacing-2) var(--spacing-6) var(--spacing-8);
      }

      p {
        @include text-styles.text-small;
        margin-bottom: var(--spacing-4);
      }

      h1 {
        @include text-styles.header-1;

        @include breakpoints.from-small-to-medium-screen {
          @include text-styles.header-1--mobile;
        }
      }

      & > div {
        align-self: flex-end;
        max-width: calc(592px);
        width: 100%;

        @include breakpoints.small-screen {
          max-width: unset;
          align-self: unset;
        }
      }
    }

    & > div {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      &::before {
        background-image: url($desktop-curve);
        background-repeat: no-repeat;
        background-size: auto calc(100% + 1px);
        content: ' ';
        display: block;
        inset: 0;
        position: absolute;
      }

      @include breakpoints.medium-screen {
        &::before {
          background-size: auto calc(100% + 1px);
        }
      }

      @include breakpoints.small-screen {
        min-height: var(--spacing-40);
        &::before {
          background-image: url($mobile-curve);
          inset: 0;

          background-position-y: 100%;
          background-size: contain;
        }
      }
    }
  }

  &__last-updated {
    padding: var(--spacing-2) var(--spacing-16);

    @include breakpoints.medium-screen {
      padding: var(--spacing-2) var(--spacing-12);
    }

    @include breakpoints.small-screen {
      padding: var(--spacing-2) var(--spacing-6);
    }

    & p {
      @include text-styles.text-small;
      color: var(--foreground-secondary);
    }
  }

  &--no-image {
    h1,
    p {
      margin: 0;
    }

    section {
      background-color: var(--background-accent-navy);
      padding: var(--spacing-16);

      @include breakpoints.medium-screen {
        padding: var(--spacing-12);
      }

      @include breakpoints.small-screen {
        padding: var(--spacing-5) var(--spacing-6) var(--spacing-6);
      }

      p {
        @include text-styles.text-small;
        margin-bottom: var(--spacing-4);
      }

      h1 {
        @include text-styles.header-1;

        @include breakpoints.from-small-to-medium-screen {
          @include text-styles.header-1--mobile;
        }
      }
    }

    & > div {
      padding: var(--spacing-2) var(--spacing-16);

      @include breakpoints.medium-screen {
        padding: var(--spacing-2) var(--spacing-12);
      }

      @include breakpoints.small-screen {
        padding: var(--spacing-2) var(--spacing-6);
      }

      & p {
        @include text-styles.text-small;
        color: var(--foreground-secondary);
      }
    }
  }
}
