* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: var(--spacing-4);
  font-family: var(--font-nunito-sans), sans-serif;
  font-optical-sizing: auto;
}

picture, video, img, svg, canvas, audio, iframe, embed, object {
  max-width: 100%;
  height: auto;
  display: block;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}


