$content-max-width: 1152px;
$content-max-width-7x1: 1280px;
$content-max-width-2x1: 672px;

.large-content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.content-wrapper {
  max-width: $content-max-width;
  margin: 0 auto;
  width: 100%;
}

@mixin content-max-width {
  max-width: $content-max-width;
  margin: 0 auto;
  width: 100%;
}

@mixin content-max-width-7x1 {
  max-width: $content-max-width-7x1;
  margin: 0 auto;
  width: 100%;
}

@mixin content-max-width-2x1 {
  max-width: $content-max-width-2x1;
  margin: 0 auto;
  width: 100%;
}
