$content-max-width: 1152px;


.large-content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin content-max-width {
  max-width: $content-max-width;
  margin: 0 auto;
}
