@mixin header-1 {
  color: var(--foreground-primary);
  font-size: var(--spacing-12);
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}

@mixin header-2 {
  color: var(--foreground-primary);
  font-size: var(--spacing-6);
  font-style: normal;
  font-weight: 800;
  line-height: 133.33%;
}

@mixin header-3 {
  color: var(--foreground-primary);
  font-size: var(--spacing-5);
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
}

@mixin header-4 {
  color: var(--foreground-primary);
  font-size: var(--spacing-4);
  font-style: normal;
  font-weight: 700;
  line-height: 155.556%;
}

@mixin text-base {
  color: var(--foreground-primary);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
}

@mixin button {
  color: var(--foreground-primary);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155.556%;
}

@mixin text-link {
  color: var(--foreground-primary);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155.556%;
  text-decoration-line: underline;
}

@mixin text-small {
  color: var(--foreground-primary);
  font-size: #{spacing(4)};
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

@mixin text-link-small {
  color: var(--foreground-primary);
  font-size: #{spacing(4)};
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration-line: underline;
}
