@use 'breakpoints';

main {
  view-transition-name: content;
}

::view-transition-old(content) {
  animation: slide-out 0.4s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

::view-transition-new(content) {
  animation: slide-in 0.4s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@include breakpoints.from-large-to-extra-screen {
  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }

    100% {
      opacity: 0;
      transform: translateX(calc(50% * var(--direction)));
    }
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(calc(-50% * var(--direction)));
    }

    100% {
      transform: translateX(0%);
    }
  }
}

@include breakpoints.from-small-to-medium-screen {
  @keyframes slide-out {
    0% {
      transform: translateY(0%);
    }

    100% {
      opacity: 0;
      transform: translateY(calc(50% * var(--direction)));
    }
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(calc(-50% * var(--direction)));
    }

    100% {
      transform: translateY(0%);
    }
  }
}
