@import "@styles/_breakpoints";

$hambuguer-button: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%2317375F' fill-rule='evenodd' d='M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A";

.header {
  &__top {
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-inverse-primary);
    display: flex;
    padding: var(--spacing-4) var(--spacing-6);

    & nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      column-gap: var(--spacing-4);
    }

    &_right {
      display: flex;
      align-items: center;
      column-gap: var(--spacing-4);
    }

    & button[title="hambuguer-button"] {
      display: none;
    }

    @include from-small-to-medium-screen {
      & button[title="hambuguer-button"] {
        display: block;
        width: 100%;
        max-width: var(--spacing-11);
        aspect-ratio: 1 / 1;
        background-image: url($hambuguer-button);
        background-size: var(--spacing-5);
        background-position: center;
        background-repeat: no-repeat;
      }

      & nav[title="primary"],
      & [role="combobox"] {
        display: none;
      }
    }
  }

  &__logo {
    max-width: 170px;
    flex-basis: 100%;
  }

  &__bottom {
    background-color: var(--background-inverse-secondary);
    padding: var(--spacing-2) var(--spacing-8);

    @include from-small-to-medium-screen {
      padding: var(--spacing-5) var(--spacing-6);
      // display: none;
    }

    & nav {
      display: flex;
      justify-content: space-between;
      padding: var(--spacing-2) var(--spacing-6);

      @include from-small-to-medium-screen {
        flex-direction: column;
        padding: 0;
      }
    }

  }

  &--menu-open {
    background-color: aquamarine;
  }
}
