@use '@styles/breakpoints';
@use '@styles/utils';
@use '@styles/layout';
@use '@styles/text-styles';

$hambuguer-button: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 4.75C2 4.33579 2.33579 4 2.75 4H17.25C17.6642 4 18 4.33579 18 4.75C18 5.16421 17.6642 5.5 17.25 5.5H2.75C2.33579 5.5 2 5.16421 2 4.75ZM2 10C2 9.58579 2.33579 9.25 2.75 9.25H17.25C17.6642 9.25 18 9.58579 18 10C18 10.4142 17.6642 10.75 17.25 10.75H2.75C2.33579 10.75 2 10.4142 2 10ZM2 15.25C2 14.8358 2.33579 14.5 2.75 14.5H17.25C17.6642 14.5 18 14.8358 18 15.25C18 15.6642 17.6642 16 17.25 16H2.75C2.33579 16 2 15.6642 2 15.25Z' fill='white'/%3E%3C/svg%3E";

$arrow-top-right: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%2317375f' fill-rule='evenodd' d='M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z' clip-rule='evenodd'/%3E%3Cpath fill='%2317375f' fill-rule='evenodd' d='M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A";


.header {
  $header: &;
  background-color: var(--background-primary);
  display: block;

  &__content_wrapper {
    @include layout.content-max-width;
  }

  @include breakpoints.from-small-to-medium-screen {
    position: relative;
  }

  &__top {
    padding: var(--spacing-5) var(--spacing-6);

    & #{$header}__content_wrapper {
      justify-content: space-between;
      align-items: center;
      display: flex;
    }

    & nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      column-gap: var(--spacing-4);
    }

    &_right {
      display: flex;
      align-items: center;
      column-gap: var(--spacing-4);
    }

    & button[title='hambuguer-button'] {
      display: none;
    }

    @include breakpoints.from-small-to-medium-screen {
      & {
        padding: var(--spacing-4) var(--spacing-6);
      }

      & button[title='hambuguer-button'] {
        display: block;
        width: 100%;
        max-width: var(--spacing-11);
        aspect-ratio: 1 / 1;
        background-image: url($hambuguer-button);
        background-size: var(--spacing-5);
        background-position: center;
        background-repeat: no-repeat;
      }

      & nav[title='primary'],
      & [role='combobox'] {
        display: none;
      }
    }
  }

  &__logo {
    max-width: 206px;
    flex-basis: 100%;

    @include breakpoints.from-small-to-medium-screen {
      max-width: 137.33px;
    }

    & > a {
      display: block;
    }
  }

  &__bottom {
    border-top: 1px solid var(--grey-300);
    border-bottom: 1px solid var(--grey-300);
    z-index: 10;

    @include breakpoints.from-small-to-medium-screen {
      border-top: 1px solid var(--grey-300);
      padding: var(--spacing-5) var(--spacing-6);
      @include utils.visibility-hidden(true);
    }

    & nav {
      display: flex;
      justify-content: space-between;

      & > a {
        @include text-styles.button;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        padding: var(--spacing-2) var(--spacing-4);

        &:hover {
          background-color: var(--background-interactive-hover);
        }

        &:active {
          background-color: var(--background-interactive-press_active);
        }

        @include breakpoints.from-small-to-medium-screen {
          padding: var(--spacing-2);
          border-bottom: 1px solid var(--grey-300);
        }
      }

      @include breakpoints.from-small-to-medium-screen {
        flex-direction: column;
        padding: 0;
        padding-bottom: var(--spacing-4);
      }
    }

    &_medium_screen {
      @include utils.visibility-hidden(true);

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      li {
        margin-bottom: var(--spacing-4);

        &:first-of-type a {
          display: block;
          text-align: center;
        }

        &:last-of-type a {
          display: flex;
        }
      }
    }
  }

  &--menu-open & {
    display: block;

    @include breakpoints.from-small-to-medium-screen {
      &__bottom {
        @include utils.visibility-hidden(false);
        position: absolute;
        background-color: var(--white);
        width: 100%;
        padding: var(--spacing-6);
        padding-top: 0;
        height: calc(100vh - 4.5rem);
        overflow-y: auto;

        &_medium_screen {
          @include utils.visibility-hidden(false);
        }
      }
    }
  }
}


.open-other-tab {
    display: inline-flex;
    column-gap: var(--spacing-2);
    &::after {
      content: '';
      display: block;
      width: var(--spacing-5);
      aspect-ratio: 1 / 1;
      background-image: url($arrow-top-right);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
}
