@import "@styles/text-styles";
@import "@styles/icons";

.select {
  @include button;
  appearance: none;
  background-color: var(--background-inverse-primary);
  background-image: url($chevron-down-on-dark);
  background-position-x: calc(100% - var(--spacing-3));
  background-position-y: var(--spacing-3);
  background-repeat: no-repeat;
  background-size: var(--spacing-5);
  border-radius: var(--border-radius-lg);
  border: var(--spacing-0) solid var(--border-input_controls-inverse-default);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: var(--foreground-inverse-primary);
  field-sizing: content;
  font-size: 1.125rem;
  padding: var(--spacing-2) var(--spacing-5);
  padding-right: calc((var(--spacing-5) * 2) + var(--spacing-2));

  &:hover,
  &:focus {
    border: var(--spacing-0) solid var(--grey-300);
  }

  &:active {
    border: var(--spacing-0) solid var(--grey-50);
    box-shadow: 0 0 0 4px var(--navy-200);
  }

  &[aria-expanded="true"] {
    background-image: url($chevron-up-on-dark);
    box-shadow: 0 0 0 4px var(--navy-200);
  }

  &--mobile {
    @include button;
    appearance: none;
    background-color: var(--background-primary);
    background-image: url($chevron-down-on-dark);
    background-position-x: calc(100% - var(--spacing-3));
    background-position-y: var(--spacing-3);
    background-repeat: no-repeat;
    background-size: var(--spacing-5);
    border-radius: var(--border-radius-lg);
    border: var(--spacing-0) solid var(--border-input_controls-inverse-default);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    color: var(--foreground-inverse-primary);
    field-sizing: content;
    font-size: 1.125rem;
    padding: var(--spacing-2) var(--spacing-5);
    padding-right: calc((var(--spacing-5) * 2) + var(--spacing-2));
    display: block;
    width: 100%;
  }
}

.popup {
  background-color: var(--background-primary);
  border-radius: var(--border-radius-lg);
  border: var(--spacing-0) solid var(--gray-300);
  box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
  // It is important because styles are inlined
  top: var(--spacing-1) !important;
  z-index: 10;
}

.listbox {
  border-radius: var(--border-radius-lg);
  color: var(--foreground-inverse-primary);
  list-style: none;
  margin: 0;
  padding: 0;
}

.option {
  @include button;
  color: var(--foreground-primary);
  font-size: 1.125rem;
  padding: var(--spacing-2) var(--spacing-5);
  padding-right: calc((var(--spacing-5) * 2) + var(--spacing-2));

  &:first-of-type {
    border-top-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
  }

  &:hover,
  &:focus {
    background-color: var(--navy-50);
  }

  &:active {
    background-color: var(--navy-100);
  }

  &[aria-selected="true"] {
    background-image: url($check);
    background-position-x: calc(100% - var(--spacing-3));
    background-position-y: var(--spacing-3);
    background-repeat: no-repeat;
    background-size: var(--spacing-5);
  }
}
