@import "@styles/text-styles";

$chevron-down-on-dark: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23D4D4D4' fill-rule='evenodd' d='M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A";
$chevron-up-on-dark: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23D4D4D4' fill-rule='evenodd' d='M9.47 6.47a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 8.06l-3.72 3.72a.75.75 0 0 1-1.06-1.06l4.25-4.25Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A";


.select {
  @include button;
  appearance: none;
  background-color: var(--background-inverse-primary);
  background-image: url($chevron-down-on-dark);
  background-position-x: calc(100% - var(--spacing-3));
  background-position-y: var(--spacing-3);
  background-repeat: no-repeat;
  background-size: var(--spacing-5);
  border-radius: var(--border-radius-lg);
  border: var(--spacing-0) solid var(--border-input_controls-inverse-default);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: var(--foreground-inverse-primary);
  field-sizing: content;
  font-size: 1.125rem;
  padding: var(--spacing-2) var(--spacing-5);
  padding-right: calc((var(--spacing-5) * 2) + var(--spacing-2));

  &:hover,
  &:focus {
    border: var(--spacing-0) solid var(--grey-300);
  }

  &:active {
    border: var(--spacing-0) solid var(--grey-50);
    background-image: url($chevron-up-on-dark);
    box-shadow: 0 0 0 4px var(--navy-200);
  }
}

.option {
  @include button;
  appearance: none;
  font-size: 1.125rem;
  background-color: var(--background-primary) !important;
  color: var(--foreground-primary);
}
