@import "@styles/text-styles";
@import "@styles/icons";
@import "@styles/breakpoints";

.details {
  appearance: none;
  @include button;
  border-radius: var(--border-radius-xl);
  position: relative;
  z-index: 1;

  @include from-small-to-medium-screen {
    border-radius: unset;
  }

  &[open] summary {
    background-image: url($chevron-up);
    background-color: var(--background-interactive-hover);
  }

  & summary {
    &::-webkit-details-marker {
      display: none;
    }

    cursor: pointer;
    list-style: none;
    padding: var(--spacing-2) var(--spacing-16) var(--spacing-2) var(--spacing-9);
    background-image: url($chevron-down);
    background-position-x: calc(100% - var(--spacing-8));
    background-position-y: var(--spacing-3);
    background-repeat: no-repeat;
    background-size: var(--spacing-5);
    border-radius: var(--border-radius-xl);

    @include from-small-to-medium-screen {
      border-radius: unset;
    }



    &:hover,
    &:focus {
      background-color: var(--background-interactive-hover);
    }

    &:active {
      background-color: var(--background-interactive-press_active);
    }

    @include from-small-to-medium-screen {
      padding: var(--spacing-2) var(--spacing-16) var(--spacing-2) var(--spacing-3);
      background-position-x: calc(100% - var(--spacing-3));
    }
  }

  & ul {
    border-radius: var(--border-radius-xl);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    background-color: var(--background-primary);
    position: absolute;
    width: 100%;

    @include from-small-to-medium-screen {
      position: static;
      box-shadow: none;
    }
  }

  & li {
    padding: var(--spacing-2) var(--spacing-3);

    &:first-of-type {
      border-top-left-radius: var(--border-radius-xl);
      border-top-right-radius: var(--border-radius-xl);

      @include from-small-to-medium-screen {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
      }
    }

    &:last-of-type {
      border-bottom-left-radius: var(--border-radius-xl);
      border-bottom-right-radius: var(--border-radius-xl);

      @include from-small-to-medium-screen {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
      }
    }

    &:hover,
    &:focus {
      background-color: var(--background-accent-navy);
    }

    &:active {
      background-color: var(--navy-100);
    }

    & a {
      @include text-base;
      text-decoration: none;
    }
  }
}
