@use '@styles/text-styles';
@use '@styles/breakpoints';

@layer override {
  .register {
    padding: var(--spacing-6);
    background-color: var(--background-accent-navy);
    border-radius: var(--border-radius-xl);

    &__button:is(a) {
      @include text-styles.button;
      text-decoration: none !important;
      color: var(--foreground-inverse-primary) !important;
    }
  }
}

.containsTable {
  h3 {
    margin-block-end: var(--spacing-4);
  }

  table {
    border: 1px solid var(--grey-300);
    border-collapse: collapse;
    table-layout: fixed;
    margin-block-end: var(--spacing-6);
    color: var(--black);
    width: 100%;

    td,
    th {
      border: 1px solid var(--grey-300);
      padding: var(--spacing-1) var(--spacing-2);
      width: 100%;
      max-width: 25%;
      vertical-align: top;

      & p {
        margin: 0;
      }
    }

    th {
      background: var(--navy-50);
      p {
        @include text-styles.header-4;
        color: var(--black);
        margin: 0;
        text-align: start;
      }
    }
  }
}

.mission {
  margin-block-start: var(--spacing-12);
}
