@use '@styles/text-styles';

.latest-news-content {
  $self: &;

  & &__list:is(ul) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-end: var(--spacing-4);
  }

  li:not(:last-of-type) {
    margin-block-end: var(--spacing-4) !important;
  }

  li a {
    text-decoration: none !important;
  }

  & &__title {
    @include text-styles.header-3;
    color: var(--black);
    margin: 0;
    margin-block-end: var(--spacing-4);
  }

  article {
    padding: var(--spacing-4);
    border-radius: var(--border-radius-xl);
    border: 1px solid var(--grey-300);

    &:hover,
    &:focus {
      background-color: var(--background-accent-navy);
    }

    &:active {
      background-color: var(--background-interactive-press_active);
    }

    h4 {
      @include text-styles.header-4;
      margin: 0;
      margin-block-end: var(--spacing-4);
      text-decoration: none;
    }

    p {
      margin: 0;
      @include text-styles.text-small;
      color: var(--foreground-secondary);
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  & &__type:is(a) {
    font-size: 1rem !important;
    margin-block-end: var(--spacing-2);
    text-decoration: underline !important;
  }

  & &__see-all:is(a) {
    @include text-styles.text-link;
  }
}
