@use '@styles/text-styles';

.latest-news-content {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-end: var(--spacing-4);
  }

  li:not(:last-of-type) {
    margin-block-end: var(--spacing-4);
  }

  li a {
    text-decoration: none !important;
  }

  h3 {
    @include text-styles.header-3;
    color: var(--black);
    margin: 0;
    margin-block-end: var(--spacing-4);
  }

  article {
    padding: var(--spacing-4);
    border-radius: var(--border-radius-xl);
    border: 1px solid var(--grey-300);

    &:hover,
    &:focus {
      background-color: var(--background-accent-navy);
    }

    &:active {
      background-color: var(--background-interactive-press_active);
    }
  }

  p {
    margin: 0;

    &:first-of-type {
      @include text-styles.text-link-small;
      margin-block-end: var(--spacing-1);
    }

    &:last-of-type {
      @include text-styles.text-small;
      color: var(--foreground-secondary);
    }
  }

  h4 {
    margin: 0;
    margin-block-end: var(--spacing-4);

    @include text-styles.header-4;
  }

  & &__see-all:is(a) {
    @include text-styles.text-link;
  }
}
