@use '@styles/text-styles';

.latest-news-content {
  h3 {
    @include text-styles.header-3;
    color: var(--black);
    margin: 0;
    margin-block-end: var(--spacing-4);
  }

  article {
    padding: var(--spacing-4);
    border-radius: var(--border-radius-xl);
    border: 1px solid var(--color-gray-300, #d4d4d4);
    background: var(--color-foundation-white, #fff);
    &:not(:last-of-type) {
      margin-block-end: var(--spacing-4);
    }
  }

  p {
    margin: 0;

    &:first-of-type {
      @include text-styles.text-link-small;
      margin-block-end: var(--spacing-1);
    }

    &:last-of-type {
      @include text-styles.text-small;
      color: var(--foreground-secondary);
    }
  }

  h4 {
    @include text-styles.header-4;
    margin: 0;
    margin-block-end: var(--spacing-4);
  }
}
